In [2]:
thistuple = ("apple","banana","cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [3]:
thistuple = ("apple","banana","pineapple")
print(thistuple)

('apple', 'banana', 'pineapple')

In [4]:
thistuple = ("apple","banana","orange")
print(len(thistuple))

3

In [9]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [5]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1,3,5,7,9,2)
tuple3 = (True,False,False)
print(tuple1)
print(tuple2)
print(tuple3)

('apple', 'banana', 'cherry')
(1, 3, 5, 7, 9, 2)
(True, False, False)

In [12]:
tuple1 = ("rafeeq",24,True, 24, "male")
print(tuple1)

('rafeeq', 24, True, 24, 'male')

In [13]:
mytuple = ("apple","banana","mosambi")
print(type(mytuple))

<class 'tuple'>

In [14]:
thistuple = tuple(("apple","banana","mosambi"))
print(thistuple)

('apple', 'banana', 'mosambi')

In [19]:
#Access tuples
thistuple = ("apple","banana","mango")
print(thistuple[1])

banana

In [22]:
thistuple = ("apple","banana","cherry")
print(thistuple[-3])

apple

In [23]:
thistuple = ("apple","banana","cherry","orange","kiwi","melon","mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [1]:
thistuple = ("apple","banana","cherry","orange","mosambi","kiwi","melon","mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [2]:
thistuple = ("apple","banana","cherry","mosambi","orange","kiwi","melon","mango")
print(thistuple[2:])

('cherry', 'mosambi', 'orange', 'kiwi', 'melon', 'mango')

In [1]:
#update tuples
x = ("apple","banana","cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)
print(x)

('apple', 'kiwi', 'cherry')

In [2]:
thistuple =("apple","banana","cherry")
y= list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [4]:
thistuple = ("apple","banana","orange")
y = ("mosambi",)
thistuple += y
print(thistuple)

('apple', 'banana', 'orange', 'mosambi')

In [5]:
thistuple = ("apple","banana","melon")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple)

('banana', 'melon')

In [8]:
thistuple = ("apple", "banana","kiwi","cherry")
del thistuple

In [9]:
#unpack tuples
fruits = ("apple","banana","mosambi")
print(fruits)

('apple', 'banana', 'mosambi')

In [10]:
fruits = ("apple","banana","melon")
(red,yellow,green) = fruits
print(red)
print(yellow)
print(green)

apple
banana
melon

In [13]:
fruits = ("apple","mango","papaya",
"pineapple","cherry")
(green, *tropic, red) = fruits
print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

In [14]:
#join tuples
tuple1= ("a","b","c")
tuple2= (1,2,3)

tuple3 = tuple1 + tuple2 
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [2]:
#tuple methods
a=[1,1,3,3,3,6]
print(len(a))
print(a.count(3))

6
3

In [3]:
#index
tup = [10,15,20,30,45]
print(tup.index(30))

3